@page "{id:int}"
@model talktomeweb.Pages.CategoryModel
@{
    ViewData["Title"] = "Category";
}

<h2 class="text-3xl font-bold text-center m-auto">@Model.CategoryInfo.Name Posts</h2>

<div class="mt-8">
    <div>
        @await Html.PartialAsync("_PostsPartial", Model.Posts)
    </div>
</div>
