@page
@using SharedLibrary.Models
@model IndexModel
@{
    ViewData["Title"] = "TalkToMe";
}

<div class="m-auto w-10/12 lg:w-full flex flex-col lg:grid lg:grid-cols-4 gap-6">
    @* Main Part - Posts & Actions *@
    <div class="flex flex-col gap-12 w-full lg:col-span-3">
        @* Post Action *@
        @if (Model.CurrentUser != null && Model.CurrentUser.Status == Status.Suspended)
        {
            var imagePath = "/images/users/" + Model.CurrentUser.ImagePath ??
            "/images/default-profile.png";
            <a aria-disabled="true" class="cursor-not-allowed">
                <div class="flex flex-row w-full h-10 items-end">
                    <div class="rounded-lg min-w-fit">
                        <img src="@imagePath" alt="Profile Image" class="w-10 h-10 rounded-full object-cover">
                    </div>
                    <button
                        class="border-b-2 border-gray-500 w-full focus:border-b-4 focus:outline-none transition-all duration-150 px-4 py-2"></button>
                    <button class="bg-gradient-to-tl from-gray-500 to-gray-500 py-1 px-4 text-white font-bold rounded">
                        Post
                    </button>
                </div>
            </a>
        }
        else if (Model.CurrentUser != null && Model.CurrentUser.Status == Status.Active)
        {
            var imagePath = "/images/users/" + Model.CurrentUser.ImagePath ??
            "/images/default-profile.png";
            <a asp-page="/Post/Create" class="cursor-pointer">
                <div class="flex flex-row w-full h-10 items-end">
                    <div class="rounded-lg min-w-fit">
                        <img src="@imagePath" alt="Profile Image" class="w-10 h-10 rounded-full object-cover">
                    </div>
                    <button
                        class="border-b-2 border-pink-500 w-full focus:border-b-4 focus:outline-none transition-all duration-150 px-4 py-2"></button>
                    <button class="bg-gradient-to-tl from-pink-500 to-rose-500 py-1 px-4 text-white font-bold rounded">
                        Post
                    </button>
                </div>
            </a>
        }

        @* Posts *@
        <div>
            @await Html.PartialAsync("_PostsPartial", Model.Posts)
        </div>


    </div>
    @* Categories *@
    <div class="hidden lg:block lg:col-span-1">
        <div class="flex flex-col shadow bg-slate-50 p-4 rounded">
            <h1 class="font-bold text-lg text-pink-500">Categories</h1>
            <div class="flex flex-col gap-2">
                @foreach (var category in Model.Categories)
                {
                    <a asp-page="/Category" asp-route-id="@category.CategoryId">@category.Name</a>
                }
            </div>
        </div>
    </div>
</div>