<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=mssqlstud.fhict.local;Database=dbi530788_talktome;User Id=dbi530788_talktome;Password=talktome;encrypt=false" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>