@inject SharedLibrary.Services.UserService UserService
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@{
    var currentUser = UserService.GetCurrentlyLoggedInUser();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"]</title>
    <meta name="author" content="name" />
    <meta name="description" content="description here" />
    <meta name="keywords" content="keywords,here" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="font-sans leading-normal tracking-normal">

    <nav x-data="{ isOpen: false }" class="relative bg-white shadow w-full">
        <div class="container px-6 py-3 mx-auto md:flex items-center justify-between w-full">
            <div class="flex items-center justify-between">
                <a href="/" class="h-full">
                    <img class="w-auto h-8 sm:h-12" src="/images/Logo.png" alt="">
                </a>

                @* Mobile menu button *@
                <div class="flex md:hidden">
                    <button x-cloak @@click="isOpen = !isOpen" type="button"
                        class="text-gray-500  hover:text-gray-600  focus:outline-none focus:text-gray-600 "
                        aria-label="toggle menu">
                        <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                        </svg>

                        <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            @* Search *@
            <form method="get" action="/SearchResults" class="hidden lg:relative lg:block mt-4 md:mt-0 w-80">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg class="w-5 h-5 text-pink-500" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </span>
                <input type="text" name="query"
                    class="w-full placeholder-pink-500 py-2 pl-10 pr-4 bg-white border focus:border-2 border-pink-400 rounded-lg text-pink-600  focus:border-pink-600  focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-pink-300 transition-all duration-150"
                    placeholder="Search">
            </form>
            @* Navigation Items *@
            <div class="hidden md:flex flex-col md:flex-row py-2 items-center gap-6 justify-end">
                <a href="#"
                    class="text-pink-600 transition-colors duration-300 transform rounded-lg hover:text-pink-800">About</a>
                <a href="#"
                    class="text-pink-600 transition-colors duration-300 transform rounded-lg hover:text-pink-800">Help</a>
                @if (currentUser != null)
                {
                    var imagePath = "/images/users/" + currentUser.ImagePath ??
                    "/images/default-profile.png";

                    <a href="/Account/Manage"
                        class="text-pink-600 transition-colors duration-300 transform rounded-lg hover:text-pink-800">
                        <img src="@imagePath" alt="Profile Image" class="w-10 h-10 rounded-full object-cover">
                    </a>
                }
                else
                {
                    <a id="register" asp-page="/Account/Register">
                        <button class="bg-gradient-to-tl from-pink-500 to-rose-500 py-2 px-6 text-white font-bold rounded
                hover:scale-110">
                            Sign
                            Up
                        </button>
                    </a>
                }
            </div>

            @* Mobile Menu open: "block", Menu closed: "hidden" *@
            <div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100' : 'opacity-0 -translate-x-full']"
                class="absolute flex flex-col md:hidden inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white  md:mt-0 md:p-0 md:top-0 md:relative md:opacity-100 md:translate-x-0 md:items-center md:justify-between">
                @* Search *@
                <form method="get" action="/SearchResults" class="block relative lg:hidden mt-4 md:mt-0">
                    <input type="text" name="query"
                        class="w-full placeholder-pink-500 py-2 pl-10 pr-4 bg-white border focus:border-2 border-pink-400 rounded-lg text-pink-600  focus:border-pink-600  focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-pink-300 transition-all duration-150"
                        placeholder="Search">
                </form>
                @* Navigation Items *@
                <div class="flex flex-col px-2 -mx-4 md:flex-row md:mx-10 md:py-0">
                    <a href="#"
                        class="px-2.5 py-2 text-pink-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 md:mx-2">About</a>
                    <a href="#"
                        class="px-2.5 py-2 text-pink-600 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 md:mx-2">Help</a>
                    @if (currentUser != null)
                    {
                        var imagePath = "/images/users/" + currentUser.ImagePath ??
                        "/images/default-profile.png";

                        <a href="/Account/Manage"
                            class="text-pink-600 transition-colors duration-300 transform rounded-lg hover:text-pink-800">
                            <img src="@imagePath" alt="Profile Image" class="w-10 h-10 rounded-full object-cover">
                        </a>
                    }
                    else
                    {
                        <a id="register" asp-page="/Account/Register">
                            <button class="bg-gradient-to-tl from-pink-500 to-rose-500 py-2 px-6 text-white font-bold rounded
                hover:scale-110">
                                Sign
                                Up
                            </button>
                        </a>
                    }
                </div>

            </div>
        </div>
    </nav>

    <!--Container-->
    <div class="container w-full md:max-w-3xl mx-auto pt-20">
        @RenderBody()
    </div>
    <!--/container-->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        /* Progress bar */
        //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight',
            progress = document.querySelector('#progress'),
            scroll;
        var scrollpos = window.scrollY;
        var header = document.getElementById("header");
        var navcontent = document.getElementById("nav-content");

        document.addEventListener('scroll', function () {

            /*Refresh scroll % width*/
            scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
            progress.style.setProperty('--scroll', scroll + '%');

            /*Apply classes for slide in bar*/
            scrollpos = window.scrollY;

            if (scrollpos > 10) {
                header.classList.add("bg-white");
                header.classList.add("shadow");
                navcontent.classList.remove("bg-gray-100");
                navcontent.classList.add("bg-white");
            } else {
                header.classList.remove("bg-white");
                header.classList.remove("shadow");
                navcontent.classList.remove("bg-white");
                navcontent.classList.add("bg-gray-100");

            }

        });


        //Javascript to toggle the menu
        document.getElementById('nav-toggle').onclick = function () {
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    </script>

</body>

</html>
